@charset "utf-8";

/*
  +++ memo +++
  Created: 2017.05.22 14:57
	+++ Referenced +++
  animetion - https://q-az.net/fadein-open-only-css/ */

body {
	font-family:Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto,
	"游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
	"Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/* bgcolor */
	background-color: rgba(244, 245, 247, 1);

	animation: fadeIn 2s ease 0s 1 normal;
	-webkit-animation: fadeIn 1.5s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

header {
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	position: absolute;
	width: 100%;
	top: -50px;
	/*bottom: 522px;*/
}

.nav ul {
	position: relative;
	overflow: hidden;
	left: 0;
	float: left;
}

.nav li {
	display: inline-block;
	width: 130px;
	height: 20px;
}

a:link {
	color: rgba(0, 155, 191, 1);
}

a:visited {
	color: rgba(0, 155, 191, 0.8);
}

a:hover {
	color: rgba(255, 255, 255, 1);
	background: rgba(0, 155, 191, 1);
}

/* box bgcolor */
.box {
	background-color: rgba(0, 172, 155, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 634px;
	height: 300px;

	-webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
}

main {
	margin: 0em;
	line-height: 1.6em;
	letter-spacing: 0.1em;
	font-size: 18px;
}

h1 {
	font-size: 25px;
	font-weight: 500;
	margin: 0.2em 0em;
	text-align: center;
}

ul {
	list-style: none;
}

ul.table {
	display: table;
	width:100%;
}

ul.table > li.left {
	display: table-cell;
  float: left;
  width: 45%;
	margin: inherit;
}

ul.table > li.right {
	display: table-cell;
  float: left;
  width: 55%;
	margin-top: 25px;
}

.icon img {
	width: 210px;
	border-radius: 210px;
	-webkit-border-radius: 210px;
	-moz-border-radius: 210px;
}

.point {
	font-size: 20px;
	background: linear-gradient(transparent 70%, rgba(0, 172, 155, 0.8) 70%);
}

.supplement {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
}

/* copyright */
footer {
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: -30px;
}
